
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

body{
  font-family: "Poppins";
}

.background {
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: url("https://scontent.fccu5-1.fna.fbcdn.net/v/t1.6435-9/70121202_2521313527922035_4539753760125091840_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=dd63ad&_nc_ohc=yQLQVt9EeO0AX_hOH3o&_nc_ht=scontent.fccu5-1.fna&oh=00_AfDMEA1-2uElJmmVewp2OyZuksbdp8Ms6ba96o64YiSSMg&oe=65728583");
  background-size: contain;
  background-position: center;
  filter: blur(8px);
  z-index: -1;
  
}

nav{
  animation: 1s ease-out 0s 1 slideDown;
}
@keyframes slideDown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
.home{
  animation: 1.5s ease-out 0s 1 slideInLeft;
}
@keyframes slideInLeft {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slideInRight {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.achievements.active{
  animation: 0.8s ease-in slideUp;
}
@keyframes slideUp {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.reveal {
  position: relative;
  opacity: 0;
}

.reveal.active {
  opacity: 1;
}
.active.support{
  animation: 1s ease-in slideInRight;
}
.active.support-img{
  animation: 1s ease-in slideInLeft;
}
.footer{
  animation: 1s ease slideUp;
}
.team{
  animation: 1.5s ease-out 0s 1 slideUp;
}
